.detailsEntireBlock{
    margin-top: 50px;
}

.detailsCard{
    padding-top: 20px;
}

.rowname {
    background-color: rgba(220, 220, 220, 0.986);

}
.insidebut {
    text-align: center;
    
    
}
.text-color
{
color:rgb(97,97,97);
font-weight: 600;
}
.bbutton {
    background-color:#FFFFFF;
    border: none;
    border-style:solid;
    border-color:#F2F2F2  ;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

.error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
  }