html{
    --primary-color: #FFF;
    --secondary-color: #000000;
    --card: #F5F5F5;
    --form: rgb(97,97,97);
}

html[data-theme="dark"]{
    --primary-color: #000000;
    --secondary-color: #FFF;
    --card: #353839;
    --form: #F0FFF0;
}

.detailsEntireBlock{
    margin-top: auto;
    
}

.cardHeader{
    border-style: solid;
    border-color: var(--card);
    background-color: var(--card);
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.cardText{
    margin-left: 20px;
}

.Icon{
    padding-top: 4px;
    padding-left: 25px;
}

.cardBody{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: var(--card);
}

.insideCardBody{
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

.rowname {
    background-color: rgba(220, 220, 220, 0.986);

}
.insidebut {
    text-align: center;
    margin-top: 25px;    
}
.text-color
{
color: var(--form);
font-weight: 600;
}
.bbutton {
    background-color:var(--primary-color);
    border: none;
    border-style:solid;
    border-color:var(--card)  ;
    color: var(--secondary-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 15px;
  }

.error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
}