.rowname {
    background-color: rgba(220, 220, 220, 0.986);

}
.insidebut {
    text-align: center;
    
    
}
.text-color
{
color:rgb(97,97,97);
font-weight: 600;
}
.RoundButton {border-radius: 50%;}

.error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
  }