.selfieDummyBody{
    border-style: solid;
    border-color: #f0f0f0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.selfieRealBody{
    margin-bottom: 15px;
    border-style: solid;
    border-color: #f0f0f0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}