html{
    --primary: #000000;
    --card: #F5F5F5;
    --form: rgb(97,97,97);
}

html[data-theme="dark"]{
    --primary: #fff;
    --card: #353839;
    --form: #F0FFF0;
}

.selfieDummyBody{
    border-style: solid;
    border-color: var(--card);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.selfieRealBody{
    margin-bottom: 15px;
    border-style: solid;
    border-color: var(--card);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}