
.fullContainer{
    border-style: solid;
    border-color: #F5F5F5;
    background-color: #F5F5F5;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    margin-top: 4px;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.bodyText{
    margin-bottom: 10px;
    text-align: left;
}

.imageColumn{
    max-width: 90px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 16px;
    padding-bottom: 16px;
};
