.govtId{
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: auto;
}

.govtIdColumn{
    padding-left: 20px;
}

.pencilIcon{
    float: right;
}

.pencilIconColumn{
   padding-top: 22px;
}
  
  